<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NoahWilson_GOL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <NoahWilson_GOL.Properties.Settings>
            <setting name="GridColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="DeadCellColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="LiveCellColor" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="TimerInterval" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="UniverseX" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="UniverseY" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Finite" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ViewNeighbors" serializeAs="String">
                <value>False</value>
            </setting>
        </NoahWilson_GOL.Properties.Settings>
    </userSettings>
</configuration>